<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div id="container">
			<header>
				<h1>TODO LIST</h1>
			</header>
			<form action="/add" method="post">
				<input type="text" name="dsc" id="" />
				<button class="add-button">+</button>
			</form>
			<% for(let i of data) { %>
			<div class="list-item">
				<input type="checkbox" />
				<p class="task-name"><%=i.description%></p>
				<button class="remove-button" data-id="<%=i._id%>">remove</button>
			</div>
			<% } %>
		</div>
		<script src="/js/script.js"></script>
	</body>
</html>
