* {
	box-sizing: border-box;
}
html,
body {
	min-height: 100%;
}

body {
	align-items: center;
	background-color: #f5fccd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 5vh;
}
h1 {
	font-size: 2rem;
	margin: 1em;
	padding: 0;
	text-align: center;
}
button {
	background-color: limegreen;
	border-radius: 0.5em;
	height: 100%;
	margin-left: 0.5em;
	width: 10%;
}
input {
	border-radius: 0.5em;
	height: 100%;
	width: 80%;
}
#search {
	align-items: center;
	display: flex;
	height: 2rem;
	justify-content: center;
	width: 80%;
}

@media (max-width: 500px) {
	#search {
		margin: 0;
		width: 100%;
	}
}
