* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

body {
	align-items: center;
	background-color: #f5fccd;
	display: flex;
	justify-content: center;
	padding-top: 5vh;
}
#container {
	background-color: #78d6c6;
	border-radius: 2em;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
	display: flex;
	flex-direction: column;
	height: auto;
	padding: 1em 3em;
	width: 60vw;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 1);
}
h1 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
	text-align: center;
}
header {
	border-bottom: dotted black 3px;
}
header p {
	font-size: 1.5rem;
	margin: 0.25em;
	text-align: center;
}
a {
	color: black;
	text-decoration: none;
}
.list-item {
	align-items: center;
	background-color: rgba(18, 72, 107, 0.75);
	border-radius: 1em;
	display: flex;
	font-size: 1.5rem;
	height: 5rem;
	justify-content: space-between;
	margin: 0.25em 0;
	padding: 0 0.75em;
}
.edit-button,
.remove-button,
#accept-button,
#cancel-button {
	border-radius: 3em;
	height: 45%;
	margin: 0;
	width: 12.5%;
}
.remove-button,
#cancel-button {
	background-color: red;
}
.edit-button {
	background-color: blue;
}
#accept-button {
	background-color: limegreen;
}
.add-button {
	aspect-ratio: 1/1;
	background-color: limegreen;
	border-radius: 100%;
	color: black;
	font-size: 2rem;
	height: 100%;
	@supports not (aspect-ratio: 1/1) {
		width: 10%;
		border-radius: 10%;
	}
}
.task-name {
	max-height: 100%;
	overflow: hidden;
	padding: 0 0.2em;
	text-align: left;
	text-overflow: ellipsis;
	width: 70%;
}
input[type="text"] {
	align-items: center;
	border-radius: 1em;
	display: flex;
	font-size: 1rem;
	height: 100%;
	padding: 0.5rem;
	width: 85%;
}
form {
	align-items: center;
	display: flex;
	height: 5rem;
	justify-content: space-around;
	max-height: 5em;
	padding: 1em 0;
	width: 100%;
}
input[type="checkbox"] {
	appearance: none;
	aspect-ratio: 1/1;
	border: 3px solid black;
	display: grid;
	margin: 0;
	padding: 0;
	place-content: center;
	width: 18px;
}
input[type="checkbox"]::before {
	content: "";
	box-shadow: inset 1em 1em black;
	height: 10px;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	width: 10px;
}
input[type="checkbox"]:checked::before {
	transform: scale(1);
}
input:checked + p {
	color: rgba(50, 50, 50, 0.75);
	text-decoration: line-through;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 500px) {
	#container {
		padding: 1em 1em;
		width: 100vw;
	}
}
